<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hu.andras.daggersample">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".DaggerSampleApplication">
        <activity android:name=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.feature1.list.Feature1ListActivity"/>
        <activity android:name=".ui.feature1.detail.Feature1DetailActivity"/>
        <activity android:name=".ui.feature2.list.Feature2ListActivity"/>
        <activity android:name=".ui.feature2.detail.Feature2DetailActivity"/>
    </application>

</manifest>